* {
    box-sizing: border-box;
}

.first-row-column {
    background-color: darkgrey;
    color: aliceblue;
    text-align: center;
}

table {
    display: table;
    border-collapse: collapse;
    width: 2000px;
    border-spacing: 2px;
    border-color: gray;
    text-align: right;
    margin-left: 50px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: darkgray;
}

td {
    height: 15px;
    width: 400px;
    display: table-cell;
    vertical-align: inherit;
}

td:nth-child(1){
    width: 200px;
    background-color: darkgrey;
    color: aliceblue;
    text-align: center;
}

.block{
    background-color: transparent;
    border: 0px solid;
    color: white;
    text-align: right;
}

.block:focus{
    outline: none;
    border-color: aqua;
    border-style: dashed;
    border-width: 2px;
}

.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}

.button1:hover {
    color:#000000;
    background-color:#FFFFFF;
}



